body {
	background-image: url("fond.jpg");
	font-family: Georgia, serif;
	font-size: 150%;
}

h1 { 
	color: darkmagenta;
	front-size: 300%;
    text-align: center;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
h2 {
	color: magenta;
	front-size: 200%;
}
h3 {
	color: purple;
	front-size: 180%;
}
nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
	background-color: #333;
}
nav ul li a {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: blueviolet;
}
nav ul li a:hover {
	transform: scale(1.5);
	background-color: #ff5733;
}
img {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border: 5px solid #ff66cc;
}
ul {
	list-style-type: none;
}
ul li::before {
	content: "🐾";
	margin-right: 10px;
}